<div id="aboutPageContainer" class="page aboutPageContainer">
  <div class="topContainer">
    <div class="decorationWrapper">
      <div *ngFor="let num of [].constructor(7)">
        <div>
          <div *ngFor="let num of [].constructor(10);" class="smallDot"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="contentContainer">
    <div class="contentWrapper">
      <h2 class="aboutMeTitle">about me</h2>
      <p class="aboutMeContent">
        Hi, I’m Elijah Adams. I am a full stack developer in Charlotte North Carolina. I have been a developer for six years
        and a formal leader for one. Solving problems and the ability to create are what drive me. 
      </p>
      <p class="aboutMeContent">
        Before stepping into the world of tech I graduated from The University of North Carolina at Greensboro with a bachelor’s degree in Computer Science. While there I was a collegiate athlete in
        wrestling. When my hands are not on the keyboard I enjoy spending time with my wife Paula and dog Knox,
        <a class="link" href="https://www.instagram.com/quadsxlove/?hl=en" target="_blank">skating</a>,
        music, and plant-based food!
      </p>
    </div>
    <div class="buttonWrapper">
      <button class="gitHubBtn" (click)="goToHub()">View GitHub</button>
      <button class="resumeBtn" (click)="goToResume()">View Resume</button>
      <div class="decorationWrapper2">
        <div *ngFor="let num of [].constructor(7)">
          <div>
            <div *ngFor="let num of [].constructor(7);" class="smallDot"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pageIndicatorContainer">
    <div class="pageIndicatorWrapper">
      <div class="dotWrapper">
        <div *ngFor="let num of [].constructor(4); let i = index">
          <p *ngIf="i === 1" class="pageNumber"> 0 {{i+1}} </p>
          <p *ngIf="i !== 1" class="dot" (click)="goToPage(pages[i])"></p>
        </div>
      </div>
    </div>
  </div>
</div>
