<div class="modalContainer">
  <div class="closeRow">
    <h3 class="exampleTitle">{{examples[currentProject].name}}</h3>
    <button class="closeButton" (click)="closeModal()">CLOSE</button>
  </div>
  <div class="exampleContent">
    <div class="exampleDescriptionContainer">
      <div class="techStackWrapper">
        <h5>Tech</h5>
        <p>{{examples[currentProject].tech}}</p>
      </div>
      <div class="challengeWrapper">
        <h5>Challenge</h5>
        <p>{{examples[currentProject].challenge}}</p>
      </div>
      <div class="overviewWrapper">
        <h5>Overview</h5>
        <p>{{examples[currentProject].overview}}</p>
      </div>
    </div>
<!--    <div *ngIf="examples[currentProject].images" class="examplePictureContainer">-->
<!--     <div id="imageContainer" class="imageContainer" (appScrollTracker)="discoverShowing($event)" [matchId]="'imageContainer'">-->
<!--       <div id="imageWrapper_{{i}}" class="imageThumbWrapper" *ngFor="let img of examples[currentProject].images; let i = index">-->
<!--          <img (click)="openImage(img)" src="../../assets/png/vui/{{img.name}}.png">-->
<!--        </div>-->
<!--     </div>-->
<!--      <div class="imageDots">-->
<!--        <div *ngFor="let image of examples[currentProject].images; let i = index">-->
<!--          <div class="imageDot" [ngClass]="{'whiteDot': i === selected}"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--   </div>-->
  </div>
  <div class="modalButtonWrapper">
    <button *ngIf="examples[currentProject].code !== ''" class="viewCodeBtn" (click)="viewCode()"> VIEW CODE</button>
    <button *ngIf="examples[currentProject].product !== ''" class="viewProduct" (click)="viewProduct()"> VIEW PRODUCT</button>
    <button *ngIf="examples[currentProject].image !== ''" class="viewProduct" (click)="viewImages()">VIEW IMAGES</button>
  </div>
</div>
