
.workPageContainer{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr);
}
.myWorkContainer{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
}
.pageIndicatorContainer {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}

.myWorkContentWrapper {
  //padding: 0 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleWrapper {
  width: var(--containerWidth);
  display: flex;
  justify-content: flex-end;
  margin: 25px 0;
}
.myWorkTitle {
  color: #97B7D5;
  margin: 0;
  text-align: end;
}

.workExampleWrapper {
  width: var(--containerWidth);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.exampleCard {
  height: calc(50% - (var(--cardMargin)));
  width: calc(50% - (var(--cardMargin)));
  min-width: 150px;
  min-height: 150px;
  display: flex;
  // margin-bottom: var(--cardMargin);
  position: relative;
  flex-direction: column;
  background-size: 200% 200%;
  color: #97b7d5;
  background-image: linear-gradient(to bottom right, #97B7D5 50%, #1A1B4B 50%);
  transition: background-position 1s, color 1s;
}
.exampleCard:hover{
  background-position: 100% 100%;
  color: white;
}

.cardTitle {
  color: #1A1B4B;
  text-align: center;
  padding: 15px;
}
.centered {
  justify-content: center;
}

.cardTitle2 {
  font-size: 16px;
  padding: 15px;
}
.descriptionContainer{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardDescription {
  font-size: 14px;
  line-height: var(--lineHeight);
  padding: 0 15px;
  flex-shrink: 2;
  height: var(--allowableDescriptionHeight);
  overflow: hidden;
}
.viewMoreWrapper {
  display: flex;
  justify-content: flex-end;
}
.viewMoreBtn {
  background: transparent;
  border: none;
  color: #97B7D5;
  height: 40px;
  margin: 0 7.5px 7.5px 0;
}
.cornerTriangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 40px;
  border-color: transparent transparent #1A1B4B transparent;
  position: absolute;
  bottom: 0;
  align-self: flex-end;
}
.shown {
  display: inline-block;
}
.hide {
  display: none;
}

.workDotContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.workDotWrapper {
  margin: 0 10px;
}
.darkBlue {
  background-color: #1A1B4B;
}
.mobileCardContainer {
  height: 300px;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: var(--mobileContainerWidth);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.mobileCardContainer::-webkit-scrollbar {
  display: none;
}
app-work-modal {
  position: fixed;
  z-index: 10;
  background-color: #1A1B4B;
  opacity: 0.98;
  height: 85%;
  width: 70%;
  top: 3%;
  left: 15%;
  color: white;
}
.prevButton {
  height: 50px;
  background-color: transparent;
  position: absolute;
  top: 42.5%;
  left: 8.5%;
  z-index: 10;
  border: none;
}
.nextButton {
  height: 50px;
  background-color: transparent;
  position: absolute;
  top: 42.5%;
  right: 8.5%;
  z-index: 10;
  border: none;
}
.arrowIcon {
  width: 40px;
}

@media screen and (max-width: 768px), screen and (max-height: 750px){
  .workPageContainer{
    display: flex;
    justify-content: center;
  }
  .myWorkContainer {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pageIndicatorContainer {
    display: none;
  }
  .myWorkContentWrapper {
    padding: 0;
    height: auto;
    width: 100%;
  }
  .titleWrapper {
    width: 100%;
    justify-content: center;
  }
  .myWorkTitle {
    text-align: center;
  }
  .workExampleMobileScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .exampleCard {
    height: 300px;
    width: 100%;
    min-width: 100%;
    max-width: 400px;
    min-height: 190px;
    margin: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #1A1B4B;
    background-image: none;
    transition: none;
    color: white;
    scroll-snap-align: start;
  }
  app-work-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

