<div class="page workPageContainer">
  <div class="myWorkContainer">
    <div class="myWorkContentWrapper">
      <h2 class="myWorkTitle">my work</h2>
      <div class="workExampleWrapper">
        <div class="exampleCard" *ngFor="let example of examples"
             (mouseover)="hover(example)"
             (mouseout)="hoverComplete(example)"
             [ngClass]="{'centered': !example.showText }">
            <p class="cardTitle" [ngClass]="example.showText ? 'hide' :'show'">
              {{example.name}}
            </p>

            <div class="descriptionContainer" [ngClass]="example.showText ? 'show' :'hide'">
              <p class="cardTitle2">{{example.name}}</p>
              <p class="cardDescription">{{example.description}}</p>
              <button class="viewMoreBtn">VIEW MORE</button>
            </div>

            <div [ngClass]="example.showText ? 'hide' :'show'"
                 class="cornerTriangle">
            </div>

        </div>
    </div>
  </div>
  <div class="pageIndicatorContainer">
    <div class="pageIndicatorWrapper">
      <div class="dotWrapper">
        <div *ngFor="let num of [].constructor(4); let i = index">
          <p *ngIf="i === 2" class="pageNumber"> 0 {{i+1}} </p>
          <p *ngIf="i !== 2" class="dot"></p>
        </div>
      </div>
    </div>
  </div>
</div>
