<button *ngIf="isModalOpen && currentProject > 0 && !isSmallScreen" class="prevButton" (click)="prevProject()">
  <img class="arrowIcon" src="../../assets/svgs/left_arrow.svg">
</button>
<app-work-modal [@modalAni]
                *ngIf="isModalOpen" [examples]="examples"
                [currentProject]="currentProject"
                (closingModal)="closeModal()"></app-work-modal>
<button *ngIf="isModalOpen && currentProject < examples.length && !isSmallScreen" class="nextButton" (click)="nextProject()">
  <img class="arrowIcon" src="../../assets/svgs/right_arrow.svg">
</button>
<div id="workPageContainer" class="page workPageContainer">
  <div class="myWorkContainer">
    <div class="myWorkContentWrapper">
      <div class="titleWrapper">
        <h2 class="myWorkTitle">my work</h2>
      </div>
      <div class="workExampleWrapper" *ngIf="!isSmallScreen">
        <div id="exampleCard{{i}}" class="exampleCard" *ngFor="let example of examples; let i = index"
               (mouseover)="hover(example, i)"
               (mouseout)="hoverComplete(example)"
               [ngClass]="{'centered': !example.showText }">
              <p class="cardTitle" [ngClass]="example.showText ? 'hide' :'show'">
                {{example.name}}
              </p>
              <div class="descriptionContainer" [ngClass]="example.showText ? 'show' :'hide'">
                <p id="title{{i}}"  class="cardTitle2">{{example.name}}</p>
                <p  class="cardDescription">{{example.description}}</p>
                <div id="buttonWrapper{{i}}" class="viewMoreWrapper">
                  <button class="viewMoreBtn" (click)="openUpProjectView(i)">VIEW MORE</button></div>
              </div>
              <div [ngClass]="example.showText ? 'hide' :'show'"
                   class="cornerTriangle">
              </div>
          </div>
      </div>
      <div class="workExampleMobileScreen" *ngIf="isSmallScreen">
        <div  id="mobileCardContainer" class="mobileCardContainer" (appScrollTracker)="discoverShowing($event)">
          <div  id="mobileExampleCard{{i}}" class="exampleCard" *ngFor="let example of examples; let i = index">
            <div class="descriptionContainer">
              <p  class="cardTitle2">{{example.name}}</p>
              <p  class="cardDescription">{{example.description}}</p>
              <div  class="viewMoreWrapper">
                <button class="viewMoreBtn" (click)="openUpProjectView(example)">VIEW MORE</button></div>
            </div>
          </div>
        </div>
        <div class="workDotContainer">
          <div class="workDotWrapper" *ngFor="let example of examples; let i = index">
            <div class="dot" [ngClass]="{'darkBlue': i === selected}" (click)="scrollToCard(i)"></div>
          </div>
        </div>
      </div>
  </div>
  </div>
  <div class="pageIndicatorContainer">
    <div class="pageIndicatorWrapper">
      <div class="dotWrapper">
        <div *ngFor="let num of [].constructor(4); let i = index">
          <p *ngIf="i === 2" class="pageNumber"> 0 {{i+1}} </p>
          <p *ngIf="i !== 2" class="dot" (click)="goToPage(pages[i])"></p>
        </div>
      </div>
    </div>
  </div>
</div>

