
.workPageContainer{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr);
}
.myWorkContainer{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
}
.pageIndicatorContainer {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}

.myWorkContentWrapper {
  //padding: 0 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleWrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}
.myWorkTitle {
  color: #97B7D5;
  margin: 0;
  text-align: end;
}

.workExampleWrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.exampleCard {
  height: calc(50% - (var(--cardMargin)*2));
  width: calc(50% - (var(--cardMargin)*2));
  min-width: 150px;
  min-height: 150px;
  display: flex;
  margin-bottom: var(--cardMargin);
  position: relative;
  flex-direction: column;
  background-size: 200% 200%;
  color: #97B7D5;
  background-image: linear-gradient(to bottom right, #97B7D5 50%, #1A1B4B 50%);
  transition: background-position 1s, color 1s;
}

.exampleCard:nth-child(odd) {
  margin-right: var(--cardMargin);
}

.exampleCard:nth-child(even) {
  margin-left: var(--cardMargin);
}

.exampleCard:hover{
  background-position: 100% 100%;
  color: white;
}

.cardTitle {
  color: #1A1B4B;
  text-align: center;
  padding: 10px;
}
.centered {
  justify-content: center;
}

.cardTitle2 {
  font-size: 16px;
  padding: 10px;
}
.descriptionContainer{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardDescription {
  font-size: 14px;
  line-height: var(--lineHeight);
  padding: 0 10px;
  flex-shrink: 2;
  height: var(--allowableDescriptionHeight);
  overflow: hidden;
}
.viewMoreWrapper {
  display: flex;
  justify-content: flex-end;
}
.viewMoreBtn {
  background: transparent;
  border: none;
  color: #97B7D5;
  height: 40px;
  margin: 0 5px 5px 0;
}
.cornerTriangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 40px;
  border-color: transparent transparent #1A1B4B transparent;
  position: absolute;
  bottom: 0;
  align-self: flex-end;
}
.shown {
  display: inline-block;
}
.hide {
  display: none;
}

.workDotContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.workDotWrapper {
  margin: 0 10px;
}
.darkBlue {
  background-color: #1A1B4B;
}
.mobileCardContainer {
  height: 300px;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 80%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.mobileCardContainer::-webkit-scrollbar {
  display: none;
}
@media(max-width: 768px) {
  .workPageContainer{
    display: flex;
    justify-content: center;
  }
  .myWorkContainer {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pageIndicatorContainer {
    display: none;
  }
  .myWorkContentWrapper {
    padding: 0;
    height: auto;
    width: 100%;
  }
  .myWorkTitle {
    text-align: center;
    margin-bottom: 20px;
  }
  .workExampleMobileScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .exampleCard {
    height: 300px;
    width: 100%;
    min-width: 100%;
    max-width: 400px;
    min-height: 190px;
    margin: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #1A1B4B;
    background-image: none;
    transition: none;
    color: white;
    scroll-snap-align: start;
  }

  .exampleCard:hover{

  }
}
