@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Poppins:wght@300;400;500;600;700&display=swap');
// 7*14
/*
light : 300
regular: 400
medium: 500
semi-b: 600
bold: 700
 */
:root {
  --allowableDescriptionHeight: auto;
  --lineHeight: 0;
  --cardMargin: 30px;
  --containerWidth: 60%;
  --mobileContainerWidth: 85%;
}
body,html {
  margin: 0;
  height: 100%;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 44px;
  margin: 10px 0;
}
h2 {
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  font-size: 48px;
}
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
}
h4 {
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}
h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}
p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}
span {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}
button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
button:focus {
  outline: none;
}
label {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
input, textarea {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.cardParagraph {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.mobileMenu {
  background-color: #1A1B4B;
  opacity: 0.98;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
}
.appContainer{
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}
.appScroll {
  overflow: scroll;
}
.appStay {
  overflow: hidden;
}
.page {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}
.eliPicWrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
}

.pageIndicatorWrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.dotWrapper {
  margin-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #BCCAD7;
  margin: 15px 0;
}
.dot:hover {
  background-color: #1A1B4B;
}

.decorationWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  right: 0;
}
.decorationWrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  right: -30px;
  bottom: -50px;
  z-index: -1;
}

.smallDot{
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #BCCAD7;
  margin: 15px 7.5px;
}
.smallDot:nth-child(-n+1) {
  margin: 0 7.5px;
}

.pageNumber {
  font-family: 'Inconsolata', monospace;
  color: #BCCAD7;
  margin: 15px 0;
}
.mat-snack-bar-container {
  background-color: #1A1B4B;
}
.mat-simple-snackbar {
  color: white;
}
.mat-simple-snackbar-action button {
  color: #97B7D5;
}
.loadingIndicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 40px;
}
.loadingIndicator div {
  display: inline-block;
  width: 10px;
  background: #fff;
  -webkit-animation: loadingIndicator 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation: loadingIndicator 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loadingIndicator div:nth-child(1) {
  -webkit-animation-delay: -0.24s;
  animation-delay: -0.24s;
}
.loadingIndicator div:nth-child(2) {
  -webkit-animation-delay: -0.12s;
  animation-delay: -0.12s;
}
.loadingIndicator div:nth-child(3) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
@-webkit-keyframes loadingIndicator {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 22px;
  }
}
@keyframes loadingIndicator {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 22px;
  }
}

@media screen and (max-width: 768px), screen and (max-height: 750px) {

  .appContainer {
    height: 100%;
    overflow-x: hidden;
  }
  .page {
    height: auto;
    scroll-snap-align: none;
    position: unset;
  }

  .loadingIndicator{
    width: 50%;
  }

}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
  button {
    font-size: 16px;
  }
  .decorationWrapper {
    right: 35%;
  }
}
@media screen and (max-width: 698px) {
  .decorationWrapper {
    right: 35%;
  }
}

@media screen and (max-width: 568px) {
  .decorationWrapper {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    right: 5%;
  }
}
