<div class="appContainer" [ngClass]="canScroll ? 'appScroll' : 'appStay'">
  <div id="homePageContainer" class="page homePageContainer">
    <div id="headerContainer" class="headerContainer">
      <div *ngIf="!isMobile">
        <a *ngFor="let page of pages" class="menuItem" (click)="scrollToSection(page)">{{page.name}}</a>
      </div>
      <div class="mobileMenuButtonWrapper" *ngIf="isMobile && !showMobileMenu">
        <button class="mobileMenuButton" (click)="toggleMobileMenu()" >
          <img class="mobileMenuIcon"  src="../assets/svgs/menu_light_blue.svg">
        </button>
      </div>
    </div>
    <div *ngIf="showMobileMenu && isMobile" class="mobileMenu" [@mobileMenu]>
      <div class="mobileMenuCloseContainer">
        <button class="mobileMenuButton" (click)="toggleMobileMenu()">
          <img class="mobileMenuIcon" src="../assets/svgs/menu-close.svg">
        </button>
      </div>
      <div class="mobileMenuItemContainer" *ngFor="let page of pages" (click)="scrollToSection(page)">
        <a class="menuItem">{{page.name}}</a>
      </div>
    </div>
    <div id="homeDescriptionContainer" class="homeDescriptionContainer">
      <div [@description] class="descriptionWrapper">
        <h4 class="helloWorld">Hello World!</h4>
        <h1 class="description">I'm Elijah, a full stack developer.</h1>
      </div>
    </div>
    <div id="eliPic1Container" class="eliPic1Container">
      <div class="eliPicWrapper" >
        <img [@oval1] class="oval" src="../assets/png/top-blue-oval.png">
        <img [@eliPic1] class="eliPic1" src="../assets/png/eli_3.png">
        <div class="decorationWrapper">
          <div *ngFor="let num of [].constructor(7)">
            <div>
              <div *ngFor="let num of [].constructor(3);" class="smallDot"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="pageIndicatorContainer" class="pageIndicatorContainer">
      <div class="pageIndicatorWrapper">
        <div class="dotWrapper">
          <div *ngFor="let num of [].constructor(4); let i = index">
            <p *ngIf="i === 0" class="pageNumber"> 0 {{i+1}} </p>
            <p *ngIf="i !== 0" class="dot" (click)="goToPage(pages[i])"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page">
    <app-about [pages]="pages"></app-about>
  </div>

  <div class="page">
    <app-work [pages]="pages" [isSmallScreen]="isSmallScreen" (canScroll)="toggleScroll($event)"></app-work>
  </div>

  <div class="page">
    <app-contact [pages]="pages"></app-contact>
  </div>
</div>
